<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./CSS&SCSS/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./CSS&SCSS/icons.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="h-inner  ">
                <section class="h-contacts ">
                    <p class="number col-sm-6  col-lg-7">
                        +00 (123) 456 7890
                    </p>
                    <p class="mail col-sm-6 col-lg-7">
                        INFO@DOMAIN.COM
                    </p>
                </section>
                <section class="h-icons ">
                    <ul >
                        <li class="home col-sm-3  col-lg-2" ><a href=""></a></li>
                        <li class="life col-sm-3 col-lg-2"><a href=""></a></li>
                        <li class="sign-in col-sm-3 col-lg-2" ><a href=""></a></li>
                        <li class="edit col-sm-3 col-lg-2" ><a href=""></a></li>
                        <li class="search col-sm-3 col-lg-2" ><a href=""></a></li>
                    </ul>
                </section>
            </div>
        </div>
    </header>
    <!-- header ends here -->
    <nav class="navbar">
        <div class="container">
            <section class="logo">
                <h2>
                    TREALOP
                </h2>
            </section>
            <section class="nav-links">
                <ul>
                    <li class="nav-home"><a href="">home</a></li>
                    <li><a href="">pages</a></li>
                    <li><a href="">dropdown</a></li>
                    <li><a href="">link text</a></li>
                    <li><a href="">link text</a></li>
                    <li><a href="">link text</a></li>
                    <li><a href="">link text</a></li>
                </ul>
            </section>
        </div>
    </nav>
    <!-- navbar ends here -->
    <div class="intro">
        <div class="back-transp">
                <div class="i-inner">
                    <div class="back-transp">
                        <div class="container">
                            <article>
                                <p class="first-paragraph" >
                                    EU LEO CURABITUR ELEIFEND SAPIEN
                                </p>
                                <h1>
                                    Sed Eros Nullam Quis Ligula
                                </h1>
                                <p>
                                    Elementum lectus varius aliquet quisque fringilla est in porttitor
                                </p>
                                <footer>
                                    <button class="btn-notransp">
                                        ULTRICIES DUI ORCI
                                    </button>
                                    <button class="btn-transp">
                                        MOLLIS LIBERO QUIS
                                    </button>
                                </footer>
                            </article>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- intro ends here -->
    <div class="features">
        <div class="f-inner">
            <div class="container">
                <header class="f-header">
                    <h3>Sagittis Lacus Neque Ut Lorem Integer</h3>
                    <p>Elementum nisi ac volutpat vestibulum enim mi tincidunt eros</p>
                </header>
                <section class="f-cards d-flex justify-content-lg-between  justify-content-md-center">
                    <article class="post-1">
                        <h3>CONDIMENTUM</h3>
                        <p>
                            Sed porttitor justo magna odio sed lacus nunc consequat sem
                             vel metus imperdiet lacinia suspendisse aliquet mi sed
                        </p>
                        <strong>80</strong>
                        <button class="btn-notransp">
                            DETAILS
                        </button>
                    </article>
                    <article class="post-2">
                        <h3>SUSCIPIT</h3>
                        <p>
                            SJusto in tortor quis dui in purus pede luctus eget
                            condimentum ac bibendum in justo nam condimentum congue risus
                        </p>
                        <strong>100</strong>
                        <button class="btn-notransp">
                            DETAILS
                        </button>
                    </article>
                    <article class="post-3">
                        <h3>DIGNISSIM</h3>
                        <p>
                            Aliquam auctor nisl nec diam ornare nam molestie massa
                            quis pede vestibulum fringilla risus in metus nullam egestas
                        </p>
                        <strong>125</strong>
                        <button class="btn-notransp">
                            DETAILS
                        </button>
                    </article>
                </section>
            </div>
        </div>
    </div>

    <div class="site-more d-flex justify-content-lg-between">
        <section class="left">
            <p>
                Velit Tristique Sem Vehicula
                Laoreet Nullam Elementum
            </p>
        </section>
        <section class="right">
            <button class="btn-notransp">
                IPSUM PHARETRA LEO
            </button>
        </section>
    </div>
    <!-- site-more ends here  -->
    <div class="pretium">
        <div class="container">
            <div class="p-inner">
                <section class="pret-header">
                    <h3>Augue Pretium Felis Faucibus Porttitor</h3>
                    <p>Metus nisl vitae ipsum integer vestibulum suspendisse potenti</p>
                </section>
                <section class="pret-posts d-flex justify-content-lg-between">
                    <article class="p-post1">
                        <h3>Class Aptent Taciti</h3>
                        <p> 
                            Sociosqu ad litora torquent per 
                            conubia nostra per inceptos himenaeos nullam tempus erat […]
                        </p>
                        <button class="btn-notransp ">
                            READ MORE
                        </button>
                    </article>
                    <article class="p-post2">
                        <h3>Id Tortor Etiam Orci</h3>
                        <p>
                            Justo lobortis in consequat ut ornare 
                            vel tellus nulla elementum velit pretium ultricies […]
                        </p>
                        <button class="btn-notransp">
                            READ MORE
                        </button>
                    </article>
                    <article class="p-post3">
                        <h3>Tristique Nibh Turpis</h3>
                        <p>
                            Fermentum dui sit amet consequat felis 
                            arcu quis pede curabitur elit lacus consectetuer vel […]
                        </p>
                        <button class="btn-notransp">
                            READ MORE
                        </button>
                    </article>
                </section>
            </div>
        </div>
    </div>
    <!-- pretium ends here -->
    <div class="tellus">
        <div class="container">
            <div class="t-inner">
                <header class="t-header py-5">
                    <h3>
                        Vestibulum Nec Pharetra Eu Nisl
                    </h3>
                    <p>
                        Sed auctor purus vel aliquet 
                        dignissim lectus nunc semper lorem
                    </p>
                </header>
                <section class="photos d-flex justify-content-lg-between py-3">
                    <article>
                        <figure><img src="./img/01.jpg" alt=""></figure>
                        <p>PORTA FACILISIS</p>
                    </article>
                    <article>
                        <figure><img src="./img/02.jpg" alt=""></figure>
                        <p>TELLUS LECTUS NEC</p>
                    </article>
                    <article>
                        <figure><img src="./img/03.jpg" alt=""></figure>
                        <p>PEDE SUSPENDISSE</p>
                    </article>
                </section>
                <footer class="d-flex justify-content-center py-5">
                    <button class="btn-notransp ">TORTOR MOLESTIE</button>
                </footer>
            </div>
        </div>
    </div>
    <!-- tellus ends here  -->
    <div class="person">
        <div class="p-inner">
            <div class="per-back-transp">
                <div class="container">
                    <article>
                        <figure class="pers-header ">
                            <img src="./img/04.jpg" alt="ppl">
                        </figure>
                        <p>
                            porta volutpat sit amet scelerisque sit
                            amet leo morbi sem magna viverra
                            quis sollicitudin quis consectetuer
                            quis magna integer consectetuer
                            tellus sed dui nullam.
                        </p>
                        <h3>A. Doe</h3>
                        <h5>justo massa adipiscing</h5>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <!-- person ends here  -->
    <div class="links-info">
        <links-inner>
            <section class="number">
                <h6></h6>
                <p></p>
            </section>
            <section class="email">
                <h6></h6>
                <p></p>
            </section>
            <section class="time">
                <h6></h6>
                <p></p>
            </section>

            <location>
                <h6></h6>
                <p></p>
            </location>
        </links-inner>
    </div>
</body>
</html>